<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>PjsekaiSUS2img</title>
        <script>
            var pixelsPerBeat = parseInt("<%= pixelsPerBeat %>");
            var pngString = "<%= pngString %>";
        </script>
        <script src="js/landscape.js"></script>
        <script src="js/download.js"></script>
        <style>
            body {
                background-color: #003040;
                background-image: url('background.webp');
                background-attachment: fixed;
                background-size: cover;
                padding-top: 5rem;
            }
            .chart-container {
                display:flex;
                padding: 10px;
                align-items: flex-start;

            }
            .landscape {
                background-color: #000000;
                display: flex;
                border: 8px solid #7a417c;
                border-radius: 10px;
                margin-left: 10px;
            }
            .btn {
                background-color: DodgerBlue;
                border: none;
                color: white;
                cursor: pointer;
                font-size: 20px;
                padding: 3px;
            }
            .btn:hover {
                background-color: RoyalBlue;
            }
            #chart {
                background-color: #000000;
                border: 8px solid #7a417c;
                border-radius: 10px;
            }
            #chart-landscape {
                height: 600px;
            }
        </style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">PjsekaiSUS to Image Converter</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="chart-container">
                <div id="chart">
                    <%- svgString %>
                </div>
                <div class="landscape">
                    <div><button class="btn" onclick="download()"><i class="fa fa-download">DL</i></button></div>
                    <canvas id="chart-landscape" width="160px"></canvas>
                </div>
            </div>
        </main>
        <footer class="footer mt-4 py-1 bg-light fixed-bottom">
            <div class="container text-center">
              <p class="text-muted">&copy; 2022 PurplePalette</p>
              <p class="text-muted">Source: <a href="https://github.com/PurplePalette/sekai-sus-2-img">Github</a></>
            </div>
        </footer>
    </body>
    </html>